.app-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &-label {
        cursor: pointer;
        width: 100%;
        user-select: none;
      }
}

.btns-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-star {
    color: gold;
    &:focus {
        box-shadow: none;
        border: 1px solid transparent;
        outline: none;
    }
}

.fa-heart {
    opacity: 0;
    color: crimson;
    transition: 0.4s all ease;
}

.important {
    color: gold;
    & .btn-star {
        color: black;
    }
}

.like .fa-heart {
    opacity: 1;
}
