.btn-filter {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.btn-all {
    background-color: cadetblue;
    margin-right: 5px;
}

.btn-all:hover {
    background-color: #457f81;
}

.btn-like {
    background-color: crimson;
}

.btn-like:hover {
    background-color: #98112c;
}